{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Demo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cumque culpa deleniti labore dolorum vero? Expedita, dolore ex atque asperiores incidunt adipisci, soluta corporis eligendi reiciendis eveniet, eaque veritatis molestias.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/demo.png" class="img.thumbnail">
    </div>
</div>

{{> footer }}